h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.items-container {
  text-align: left;
}

.todo-row {
  margin-left: 60px;
  font-size: larger;
}

.todo-button{
    min-width: 80;
}

.version{
    color: red;
    font-size: medium;
    padding-top: 100px;
}
